<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Seu Título Aqui{% endblock %}</title>
</head>
<body>
    <header>
        <!-- Seu cabeçalho aqui -->
    </header>

    <nav>
        <!-- Seu menu de navegação aqui -->
    </nav>

    <main>
        {% block content %}
        <!-- O conteúdo específico de cada página será inserido aqui -->
        {% endblock %}
    </main>

    <footer>
        <!-- Seu rodapé aqui -->
    </footer>
</body>
</html>
