<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <h1>Perfil</h1>
    <p><strong>Nome de Usuário:</strong> {{ user.username }}</p>
    <p><strong>Senha:</strong> {{ user.password }}</p>
</body>
<body>
    <h1>Perfil</h1>
    <form action="{{ url_for('atualizar_perfil') }}" method="POST">
        <label for="username">Novo Nome de Usuário:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Nova Senha:</label>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Atualizar Perfil">
    </form>
</body>
</html>
